

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px gray

}

h1{
    color: antiquewhite;
    /* text-shadow: 2px 2px; */
}

button{
    margin: 10px;
    padding: 10px 20px;
    outline: none;
    border: solid 1px gray;
    border-radius: 50px;
    position: relative;
    margin-top: 50px;
}

button:hover{
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000;
}